{% extends "base.html" %}

{% block content %}

<section class="vh-100 bg-white">
    <div class="container-fluid">
        <div class="row">
            <div id="parentContainer" class="col-sm-6 text-black">
                {%block login_content%} {%endblock%}
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="{{url_for('static', filename='assets/csc_bg.jpg')}}" alt="Login image" class="w-100 vh-100"
                    style="object-fit: cover; object-position: center;">
            </div>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/loginPage.js') }}"></script>
{% endblock %}