<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS library-->
    <link rel="icon" href="{{ url_for('static', filename='assets/csc_logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/libs/css/bootstrap.min.css') }}"">
    <link rel=" stylesheet" href="{{ url_for('static', filename='/libs/css/all.min.css') }}"">
    <link rel=" stylesheet" href="{{ url_for('static', filename='/css/main.css') }}"">

    <!-- JS Library-->
    <script src=" {{ url_for('static', filename='/libs/js/jquery.min.js' ) }}">
    </script>
    <script src="{{ url_for('static', filename='/libs/js/bootstrap.bundle.min.js') }}""></script>
    <script src=" {{ url_for('static', filename='/libs/js/all.min.js' ) }}"></script>
    <title>CSC PDS</title>
</head>

<body>
    {%block content%} {%endblock%}
</body>

</html>