{% extends "/admin/adminBase.html" %}
{% block admincontent %}
<div class="card shadow bg-secondary mb-2">
    <div class="card-title text-white p-2 d-flex justify-content-between align-items-center">
        <div class="d-flex gap-2">
            <h4>Children Table</h4>
            <span class="badge bg-primary">
                <h5>{{count}}</h5><span>
        </div>

        <a href="javascript:void(0)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addModal">
            <i class="fas fa-plus"></i>
            Add children entry
        </a>
    </div>
</div>

<div class="card shadow">
    <div class="card-body">
        <!--table-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>CSC ID No</th>
                    <th>Children ID</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for person in children %}
                <tr>
                    <td id="td-cscID{{person.Children_ID}}">{{ person.CSC_ID_No }}</td>
                    <td id="td-Children_ID{{person.Children_ID}}">{{person.Children_ID}}</td>
                    <td id="td-fullName{{person.Children_ID}}">{{ person.fullName }}</td>
                    <td id="td-birthDay{{person.Children_ID}}">{{ person.birthDay}}</td>
                    <td>
                        <button type="button" class="editBtn btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#editModal" data-id="{{person.Children_ID}}">
                            Edit
                        </button>
                        <button type="button" class="deleteBtn btn btn-danger" data-id="{{person.Children_ID}}">
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!---->

        <!--edit modal-->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Child Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editForm">
                            <div class="mb-3">
                                <label for="cscId" class="form-label">Parent: </label>
                                <select class="form-select" id="cscId" name="cscId">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="fullName" name="fullName">
                            </div>
                            <div class="mb-3">
                                <label for="birthDay" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" id="birthDay" name="birthDay">
                            </div>
                            <button type="button" id="saveChangesBtn" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <!--Add modal-->
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Add Child Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addForm">
                            <div class="mb-3">
                                <label for="cscId" class="form-label">Parent: </label>
                                <select class="form-select" id="addcscId" name="addcscId">
                                    {%for p in parent%}
                                    <option value="{{p.cscIdNo}}">{{p.fullName}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="addfullName" name="addfullName">
                            </div>
                            <div class="mb-3">
                                <label for="birthDay" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" id="addbirthDay" name="birthDay">
                            </div>
                            <button type="button" id="addSaveChangesBtn" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>


<!-- <style>
        .table-container {
            max-height: 500px; /* Adjust max-height as needed */
            overflow-y: auto; /* Enable vertical scrollbar */
        }
    </style> -->

<script src="{{url_for('static', filename='js/admin/childTable.js')}}"></script>
<script>
    $(document).ready(() => {
        $(".changePasswordBtn").click(function () {
            var dataId = $(this).attr("data-id");
            var newPassword = $("#newPassword" + dataId).val();
            var confirmPassword = $("#confirmPassword" + dataId).val();
            if (newPassword != confirmPassword) {
                alert("Password does not match");
                return;
            }
            else {
                $.ajax({
                    url: "/admin/change_password",
                    type: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        cscIdNo: dataId,
                        newPassword: newPassword
                    }),
                    success: function (response) {
                        alert(response);
                        location.reload();
                    }
                });
            }
        });

        $('.deleteBtn').click(function () {
            var dataId = $(this).attr("data-id");
            if (confirm("Are you sure you want to delete this entity?")) {
                $.ajax({
                    url: "/admin/delete/children",
                    type: "DELETE",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        deleteIDNo: dataId
                    }),
                    success: function (response) {
                        alert("Succesfully deleted the person");
                        location.reload();
                    }
                });
            }
        });

        $("#addGraduate").change(function () {
            if (this.checked) {
                $("#highestAttainmentContainer").hide();
            } else {
                $("#highestAttainmentContainer").show();
            }
        });
    })
</script>
{% endblock %}