{% extends "base.html" %} 
{% block content %}
<div class="bg-light">
  <!--navbar-->
  <nav class="navbar sticky-top shadow-sm bg-nv-transparent">
    <div class="container-fluid d-flex align-items-center justify-content-start">  
      <a class="navbar-brand font-weight-bold d-flex align-items-center ml-3 gap-5" href="#">
        <div class="container">
          <i class="fa fa-bars"></i>
          <img src="{{url_for('static', filename='assets/csc_logo.png')}}" alt="" width="30" height="30" class="d-inline-block align-text-top">
        </div>
      </a>
    </div>
  </nav>
  
  <!---->
</div>
{%endblock%}